@font-face {
  font-family: 'BubblegumSansRegular'; src: url('font/BubblegumSans-Regular-webfont.eot'); src: url('font/BubblegumSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/BubblegumSans-Regular-webfont.woff') format('woff'), url('font/BubblegumSans-Regular-webfont.ttf') format('truetype'), url('font/BubblegumSans-Regular-webfont.svg#BubblegumSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
